@{
    ViewData["Title"] = "En Karlı Mağaza";
}
@model SalesApp.Models.StoreProfitModel
<br />
<div style="float:right;">
    <a href="@Url.Action("Index")" class="btn btn-primary">Ana Sayfaya Dön</a>
</div>
<br /><br /><br />
<div class="text-center" style="border:double; ">
    <br /><br />
    <h2>En Karlı Mağaza</h2><br />
    <form>
        <div class="form-group">
            <br />
            
            <div >
                <h3><b><span style="color:red">@Model.StoreName</span></b></h3>
                <h4><b>Kar Miktarı : @Model.Profit</b></h4><br /><br />
            </div>
        </div>
    </form>
</div>

