@{
    ViewData["Title"] = "Anasayfa";
}


<div class="text-center">
    <h1 class="display-4">Hoş Geldiniz!</h1>
    
    <h4><b>Yapacağınız işlemi aşağıdan seçebilirsiniz.</b></h4><br /><br />
    <div>
        <ul>
            <li><a href="Sales/GetAllSalesHistory">Satış geçmişini getirmek için tıklayınız.</a></li>
            <li><a href="Sales/AddSaleHistory">Yeni satış geçmişi kaydı eklemek için tıklayınız.</a></li>
            <li><a href="Sales/GetAllSalesHistory">Satış geçmişi kaydını silmek için tıklayınız.</a></li>
            <li><a href="Sales/GetAllSalesHistory">Satış geçmişi kaydını güncellemek için tıklayınız.</a></li>
            <li><a href="Sales/GetProfitForStore">Belirli bir mağazanın kar bilgisini görmek için tıklayınız.</a></li>
            <li><a href="">En karlı mağazayı görmek için tıklayınız.</a></li>
            <li><a href="">Satış miktarına göre en çok satan ürünü görmek için tıklayınız.</a></li>
        </ul>
    </div>
</div>